.theme {
  display: flex;
  justify-content: stretch;
  align-items: stretch;
  gap: 0.8rem;

  font-family: var(--font);
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;

  background-color: transparent;
  border: none;
  color: var(--text);

  cursor: pointer;
  transition: 0.3s ease-out all;
}

.theme:hover {
  opacity: 0.7;
}
