:root {
  --background: #fafafa;
  --component-background: #fff;
  --text: #111517;
  --placeholder: #848484;
}

[data-theme="dark"] {
  --background: #202c36;
  --component-background: #2b3844;
  --text: #fff;
  --placeholder: #fff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.3s all ease-out;
}

html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: "Nunito Sans", sans-serif;
  color: var(--text);
  background-color: var(--background);
}
